.bloque{
    margin-top: 1.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding-bottom: 3%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #c6c7d1;
}
.bloque label{
    padding-top: 20px;
    font-size: 16px
}
.contenedor {
  max-width: 400px;
  min-width: 300px;
  /* Control de la altura con base en el texto del div*/
  height: auto;
  word-wrap: break-word;
}
#ocultar_tabla_preguntas{
  display: none;
}
